<!DOCTYPE html>
<html>

<!-- Head -->

<head>
    <base href="/xbiaoshop/">
  <title>修改表单</title>

  <!-- Meta-Tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script type="application/x-javascript">
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- //Meta-Tags -->

  <!-- Style -->
  <link rel="stylesheet" href="css/common.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/layer.css">
</head>
<!-- //Head -->

<!-- Body -->

<body>
  <h1>XBiaoShop</h1>
  <div class="container w3layouts agileits pr" id="app">
    <a href="login.html" class="back"></a>
    <div class="register w3layouts agileits">
      <h2>修 改 密 码</h2>
      <form  class="pr oh">
        <input type="text" Name="Name" placeholder="用户名" required="" v-model="username">
        <input type="password" Name="Password" placeholder="新密码" required="" v-model="password">
        <input type="email" Name="Email" placeholder="邮箱" required="" v-model="email">
        <input type="text" Name="checkCode" placeholder="验证码" required="" v-model="code">
        <div class="btnCode">
          <input type="button" class="btn btn-info" value="发送验证码"
                 @click="sendCode()">
        </div>
      </form>
      <div class="send-button w3layouts agileits">
        <input type="button" value="重  置" @click="reset()">
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="footer w3layouts agileits">
    <p>Copyright &copy; 2020.XB All rights reserved.</p>
  </div>
</body>
<!-- //Body -->
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/layer.js"></script>
<script src="js/vue-2.6.11.js"></script>
<script src="js/axios-0.19.2.min.js"></script>
<script src="js/index/forget.js"></script>
</html>