.single-page-icons.social-icons {
    margin: 4em -1em;
}

.numActive {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 66%;
    margin-left: .5%;
}

.input-group {
    margin-top: 10%;
}

.input-group>input {
    text-align: center
}

.col-cm-6>span {
    font-weight: lighter;
}

.products {
    padding: 2em 0;
}

.w3ls-add-grids>a,
.w3ls-add-grids a>p {
    color: black;
}

.w3ls-add-grids a {
    border: 1px solid white;
}

.w3ls-add-grids a:hover {
    color: #08bce4;
    border: 1px solid black;
    border-radius: 10px;
}

.w3ls-add-grids a>p>span {
    margin-left: 3%;
}

.navbar-right {
    margin: 0;
}

.header-three ul a {
    color: white;
}

.nav>li>a:hover,
.nav>li>a:focus {
    color: skyblue;
    background-color: transparent;
}

.numActive .input-group .showMoney {
    font-size: 2em;
    margin-top: 10px;
}

ul,
li {
    list-style: none;
}

#magnifier {
    position: relative;
}

.small-box {
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.small-box img {
    width: 356px;
    height: 356px;
    max-height: 356px;
    max-width: 356px;
}

.small-box .hover {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    border: 1px solid #aaa;
    background: #a3a9ac;
    opacity: .5;
    filter: alpha(opacity:50);
    cursor: move
}

.thumbnail-box {
    position: relative;
    width: 100%;
}

.thumbnail-box .btn {
    position: absolute;
    top: 50%;
    width: 22px;
    height: 32px;
    margin-top: -16px;
}

.thumbnail-box .btn-prev {
    left: 0;
    background: url(../images/btn_prev.png) no-repeat;
}

.thumbnail-box .btn-prev.btn_prev_disabled {
    background: url(../images/btn_prev_disabled.png) no-repeat;
    cursor: not-allowed;
}

.thumbnail-box .btn-next {
    right: 0;
    background: url(../images/btn_next.png) no-repeat;
}

.thumbnail-box .btn-next.btn_next_disabled {
    background: url(../images/btn_next_disabled.png) no-repeat;
    cursor: not-allowed;
}

.thumbnail-box .list {
    overflow: hidden;
    width: 310px;
    margin: 0 auto;
}

.thumbnail-box .wrapper {
    width: 100000px;
    overflow: hidden;
}

.thumbnail-box .list .item {
    float: left;
    margin: 0 12px;
}

.thumbnail-box .list .item img {
    border: 2px solid #a9a9a9;
    width: 54px;
    height: 54px;
}

.thumbnail-box .list .item-cur img {
    border: 2px solid #e53e41;
}

.big-box {
    display: none;
    overflow: hidden;
    position: absolute;
    left: 357px;
    top: 0;
    width: 410px;
    height: 420px;
    border: 1px solid #e4e4e4;
    z-index: 999;
}

.big-box img {
    display: block;
}